{% extends 'base.html.twig' %}
{% block title %}
    pro6- GRH / Action
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Action</li>
{% endblock %}
{% block body_inside %}
    <div class="container">
            {% include 'account/accountUserPills.html.twig' %}
            <br/>
        <div class="row">

            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        Les différentes actions
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 3%">N°</th>
                                <th style="width: 50%">Libellé</th>
                                <th style="width: 30%">Module</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in listAccountAction %}
                                <tr>
                                    <td>{{ num }}</td>
                                    <td>{{ a.libelle }}</td>
                                    <td style="text-transform: uppercase;line-height: 100%;">{{ a.accountModule.libelle }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
