{% extends 'base.html.twig' %}
{% block title %}
    pro6- GRH / Module
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Module</li>
{% endblock %}

{% block body_inside %}
    <div class="container">
        {% include 'account/accountUserPills.html.twig' %}
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        Les différents modules
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 3%">N°</th>
                                <th style="width: 40%">Libellé</th>
                                <th style="width: 60%">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for m in listAccountModule %}
                                <tr>
                                    <td>{{ num }}</td>
                                    <td style="text-transform: uppercase;line-height: 100%;">{{ m.libelle }}</td>
                                    <td style="line-height: 120%;">{{ m.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
