<div class="pill-nav">
    <a class="nav-link active" href="{{ path('module') }}">Module</a>
    <a class="nav-link active" href="{{ path('action') }}">Action</a>
    <a class="nav-link active" href="{{ path('profil') }}">Profil</a>
    <a class="nav-link active" href="{{ path('utilisateur') }}">Liste des utilisateurs</a>
</div>

