<footer class="main-footer">
    <strong>Copyright &copy;
        <a href="http://www.tgprosystems.com">TOGO PROSYSTEMS SARL 2019</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b>
        1.0
    </div>
</footer>
