{% extends 'base.html.twig' %}

{% block body_inside %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Nouveau</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="libelle">Libellé</label>
                                <input type="text" class="form-control" id="libelle" placeholder="Libellé">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" placeholder="Description ..."></textarea>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary float-right">Enregistrer</button>
                            </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}

