{% extends 'base.html.twig' %}

{% block title %}
    pro6- GRH / Page de connexion
{% endblock %}
{% block body %}
    <br/>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-info text-center">
                    <div class="card-header">
                        pro6- GRH <br/><br/>
                        <h4>Page de connexion</h4>
                    </div>

                        {% if hasError %}
                            <div class="alert alert-danger">
                                Erreur survenue. Email ou mot de passe incorrect
                            </div>
                        {% endif %}

                    <div class="card-body">
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <label for="username" class="float-left">Adresse email</label>
                                <input type="text" name="_username" id="username" class="form-control"
                                       placeholder="Adresse email..." required value="{{ username }}">
                            </div>
                            <div class="form-group">
                                <label for="password" class="float-left">Mot de passe</label>
                                <input type="password" name="_password" id="password" class="form-control"
                                       placeholder="Mot de passe..." required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info float-right">Se connecter</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center" style="font-size: 12px">
                        <strong>
                            Copyright &copy; <a href="http://www.tgprosystems.com"> TOGO PROSYSTEMS SARL 2019</a>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
