{% extends 'base.html.twig' %}

{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Paramètres compte</li>
{% endblock %}

{% block  body_inside %}
    {% include 'cloud_compte/params/paramComptePills.html.twig' %}
{% endblock %}