<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				pro6- GRH
			{% endblock %}
		</title>


		{% block stylesheets %}
			<link rel="stylesheet" href="admin-lte/plugins/fontawesome-free/css/all.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/jqvmap/jqvmap.min.css">
			<link rel="stylesheet" href="admin-lte/dist/css/adminlte.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/daterangepicker/dateranadmingepicker.css">
			<link rel="stylesheet" href="admin-lte/plugins/summernote/summernote-bs4.css">
			<link rel="stylesheet" href="admin-lte/plugins/sweetalert2/sweetalert2.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css')}}">
			<link rel="stylesheet" href="admin-lte/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/chart.js/Chart.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/datatables-scroller/css/scroller.bootstrap4.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/datatables-select/css/select.bootstrap4.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/daterangepicker/daterangepicker.css">
			<link rel="stylesheet" href="admin-lte/plugins/ekko-lightbox/ekko-lightbox.css">
			<link rel="stylesheet" href="admin-lte/plugins/flag-icon-css/css/flag-icon.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/fullcalendar/main.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/fullcalendar-bootstrap/main.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/fullcalendar-daygrid/main.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/fullcalendar-timegrid/main.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/jqvmap/jqvmap.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/select2/css/select2.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
			<link rel="stylesheet" href="admin-lte/plugins/summernote/summernote.css">
			<link rel="stylesheet" href="admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
		{% endblock %}
	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		{% block body %}
			<div class="wrapper">

				{% include 'partials/header.html.twig' %}
				{% include 'partials/sidebar.html.twig' %}
				<!-- Content Wrapper. Contains page content -->
				<div
					class="content-wrapper">
					<!-- Content Header (Page header) -->


					<div class="content-header">
						<div class="container-fluid">

							<div class="row mb-2">
								<div class="col-sm-6"></div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="#">Home</a>
										</li>
										{% block  breadcrumb %}
											<li class="breadcrumb-item active">Dashboard v1</li>
										{% endblock %}
									</ol>
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->
					</div>
					<!-- /.content-header -->

					<!-- Main content -->
					<section class="content">
						<div class="container-fluid">
							{% block body_inside %}{% endblock %}
						</div>
					</section>


					<!-- /.content -->
				</div>
				<!-- /.content-wrapper -->
				{% include 'partials/footer.html.twig' %}


				<!-- Control Sidebar -->
				<aside
					class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
				</aside>


				<!-- /.control-sidebar -->
			</div>
			<!-- ./wrapper -->


		{% endblock %}
		{% block javascripts %}
			<script src="admin-lte/plugins/jquery/jquery.min.js"></script>
			<script src="admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
			<script src="admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="admin-lte/plugins/chart.js/Chart.min.js"></script>
			<script src="admin-lte/plugins/sparklines/sparkline.js"></script>
			<script src="admin-lte/plugins/jqvmap/jquery.vmap.min.js"></script>
			<script src="admin-lte/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
			<script src="admin-lte/plugins/jquery-knob/jquery.knob.min.js"></script>
			<script src="admin-lte/plugins/moment/moment.min.js"></script>
			<script src="admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
			<script src="admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
			<script src="admin-lte/plugins/summernote/summernote-bs4.min.js"></script>
			<script src="admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
			<script src="admin-lte/build/js/AdminLTE.js"></script>
			<script src="admin-lte/build/js/CardRefresh.js"></script>
			<script src="admin-lte/build/js/CardWidget.js"></script>
			<script src="admin-lte/build/js/ControlSidebar.js"></script>
			<script src="admin-lte/build/js/DirectChat.js"></script>
			<script src="admin-lte/build/js/Dropdown.js"></script>
			<script src="admin-lte/build/js/Layout.js"></script>
			<script src="admin-lte/build/js/PushMenu.js"></script>
			<script src="admin-lte/build/js/SiteSearch.js"></script>
			<script src="admin-lte/build/js/Toasts.js"></script>
			<script src="admin-lte/build/js/TodoList.js"></script>
			<script src="admin-lte/build/js/Treeview.js"></script>

			<script src="admin-lte/dist/js/adminlte.js"></script>
			<script src="admin-lte/dist/js/pages/dashboard.js"></script>
			<script src="admin-lte/dist/js/demo.js"></script>
			<script src="admin-lte/plugins/sweetalert2/sweetalert2.min.js"></script>
			<script src="admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
			<script src="admin-lte/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
			<script src="admin-lte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
			<script src="admin-lte/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
			<script src="admin-lte/plugins/chart.js/Chart.min.js"></script>
			<script src="admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
			<script src="admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
			<script src="admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
			<script src="admin-lte/plugins/datatables-scroller/js/scroller.bootstrap4.min.js"></script>
			<script src="admin-lte/plugins/datatables-select/js/select.bootstrap4.min.js"></script>
			<script src="admin-lte/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
			<script src="admin-lte/plugins/fastclick/fastclick.js"></script>
			<script src="admin-lte/plugins/filterizr/filterizr.min.js"></script>
			<script src="admin-lte/plugins/filterizr/jquery.filterizr.min.js"></script>
			<script src="admin-lte/plugins/flot/jquery.flot.js"></script>
			<script src="admin-lte/plugins/fullcalendar/main.min.js"></script>
			<script src="admin-lte/plugins/fullcalendar/locales-all.min.js"></script>
			<script src="admin-lte/plugins/fullcalendar-bootstrap/main.min.js"></script>
			<script src="admin-lte/plugins/fullcalendar-daygrid/main.min.js"></script>
			<script src="admin-lte/plugins/fullcalendar-interaction/main.min.js"></script>
			<script src="admin-lte/plugins/fullcalendar-timegrid/main.min.js"></script>
			<script src="admin-lte/plugins/inputmask/inputmask/jquery.inputmask.js"></script>
			<script src="admin-lte/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
			<script src="admin-lte/plugins/jqvmap/jquery.vmap.min.js"></script>
			<script src="admin-lte/plugins/jszip/jszip.min.js"></script>
			<script src="admin-lte/plugins/overlayScrollbars/js/OverlayScrollbars.min.js"></script>
			<script src="admin-lte/plugins/pace-progress/pace.min.js"></script>
			<script src="admin-lte/plugins/pdfmake/pdfmake.min.js"></script>
			<script src="admin-lte/plugins/raphael/raphael.min.js"></script>
			<script src="admin-lte/plugins/select2/js/select2.full.min.js"></script>
			<script src="admin-lte/plugins/sparklines/sparkline.js"></script>
			<script src="admin-lte/plugins/summernote/summernote.min.js"></script>

			<script src="admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
		{% endblock %}
	</body>
</html>
