<div class="form-group">
    <label for="libelle">Libellé</label>
    <input type="text" class="form-control" id="libelle" placeholder="Libellé">
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="3" placeholder="Description ..."></textarea>
</div>
<div class="">
    <button type="submit" class="btn btn-success float-right">Enregistrer les mofications</button>
</div>