<ul class="nav nav-pills">
    <li class="active"><a href="{{ path('categorie_service') }}">Categorie service</a></li>
    <li><a href="{{ path('type_service') }}">Type service</a></li>
    <li><a href="{{ path('type_compte') }}">Type compte</a></li>
    <li><a href="{{ path('famille_compte') }}">Famille des comptes</a></li>
</ul>