{% extends 'base.html.twig' %}


{% block body_inside %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Nouveau</h3>
                </div>
                <form role="form">
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary float-right">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </form>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>

    {% endblock %}
